body{
	margin: 0px;
}

body, input, textarea
{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.85em;
    color: black;
    font-weight: 300;
}
header{
	background: white;
	height: 123px;
}

header img{
	top: -5px;
	width: 446px;
	position: absolute;

}

header .nav-main > ul{
	margin: 0;
	padding: 0px;
	float: right;
	list-style-type: none;
	background-color: white;
}

header .nav-main{
	top: 0px;
	background-color: white;
	padding-right: 30px;
}

nav.nav-main#kirii{
	
	padding-left: 30px;
	float: left;
	list-style-type: none;
}


nav.nav-main#kirii{
	height: 2.5em;
	background-color: #0088FF;
	color: #fff;
	border-radius: 3px;
	position: relative;
}
nav.nav-main#kanann{
	
	padding-right: 35px;
	float: right;
	list-style-type: none;
}
#kanann img{
	width: 40px;
	height: 40px;
	padding-left: 20px;
}

nav.nav-main#kanann{
	height: 2.5em;
	background-color: #0088FF;
	color: #fff;
	border-radius: 3px;
	position: relative;
}


.nav-main>ul{
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
	
}
.nav-main > ul > li{
	float: left;
	
}

.nav-item {
	display: inline-block;
	padding: 1em 1em;
	height:0.5em;
	line-height: 0.5em;
	color: black;
	text-decoration: none;
	
}

.nav-item:hover{
	background-color: #00AAFF;
}
.nav-content{
	position: absolute;
	top: 2.5em;
	overflow: hidden;
	background-color: #0066FF;
	opacity: 0.95;
	max-height: 0;
		
}
.nav-content a {
	color: #fff;
	text-decoration: none;
}
.nav-content a:hover{
	text-decoration: underline;
}
.nav-sub{
	padding: 1em;
}
.nav-sub ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.nav-sub ul li a {
	display: inline-block;
	padding: 0px;
}
.nav-item:focus {
	background-color:#0099FF; 
}
.nav-item:focus ~.nav-content{
	max-height: 400px;
	
}
#search-input-img{
	
	width: 1.4em;
	height: 1.5em;
	display: inline;
	padding-left: 0.5em;
	padding-top:0em;
	margin-right: 0.5em;
	position: relative;
	
	
}
#search-input{
	display: inline;
	padding-top: 5px;
	width: 200px;
	padding-bottom: 5px;
	box-shadow: 0px 0px 1px 1px white;
	margin-left: 0.5em;
	position: relative;
}
.pad{
	margin-left: 500px; 
}
.pad-admin{
	margin-left: 300px
}
.logo{
	width: 350px;
	margin-left: auto;
	margin-right: auto;	
	display: block;
}

table{
	width: 95%;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 10px;
	
}
table img{
	width: 200px;
}


#datakiri {
	width: 60%;
	padding-right: 20px;
	position: block;
	vertical-align: Top;

}

#datakanan h3{
	background-color: black;
	text-align: center;
	color: white;

}
#datakanan {
	vertical-align: Top;
	width:37%;
	padding-left: 25px;
	position:block;
}

#login{
	width: 27%;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: auto;
	background: white;
	border-radius: 10%;
	border: 1px solid black;
	padding-bottom: 50px;

}
#signup{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -80px;
	background: white;
	padding:20px;
	border-radius: 10px;
}
#admin {
	margin-left: 100px;
	display:inline;
}

footer{
	background: #0066ff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;	
	clear: both;   
   	bottom:0;
   	position: relative;
}


footer img{
	width: 300px;
	display: inline;
	clear: both;
	padding-top: 10px;
	
}

footer a{	
	text-decoration: none;
	color: black;
	margin-top: 2px;
	font-weight: bold;
}
footer a:hover{
	color: white;
}

footer p{
	text-align: right;
}
#cat1 img{
	width: 100%;
}

#cat1 h4{
	color: white;
	background-color: black;
}
#navline{
	height: 40px;
	background-color: #0088FF;
	width: 100%;
}
form#signup{
	margin-top: 30px;
}

#datakiri h4:hover{
	text-decoration: none;
	color: black;
	background-color: #0088FF;

}
#login a.nav-item {
	display: inline-block;
	padding: 1em 1em;
	height:0.5em;
	line-height: 0.5em;
	color: black;
	text-decoration: none;
	background-color: #efefef;
	border-radius: 5px;
	border: 2px solid black;
	margin-left: 50px;
	
}
#login a.nav-item:hover{
	background-color: black;
	color: white;
}

#usimage iframe img{
	width: 100%;
}

#datakanan iframe{
	width: 100%;
}

table
{
	clear: both;
	position: relative;
}
table#cat1{
	width: 100%;
	text-align: center;
}
table#datasingle{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 10px;
}

.gray
{
	background-color: #EdEdFF;
	margin-top: 10%;
}


#profilpicture
{
	height:300px;
	width:300px;
}
.profile
{
	width: 30%;
}
